<table class="table">
<tr>
  <th>id</th>
  <th>时间</th>
  <th>货币名称</th>
  <th>现汇买入价</th>
  <th>现钞买入价</th>
  <th>现汇卖出价</th>
  <th>现钞卖出价</th>
</tr>
<% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.currency_id %></td>
    <td><%= currency.currency_data %></td>
    <td><%= currency.currency_name %></td>
    <td><%= currency.fBuyPri %></td>
    <td><%= currency.mBuyPri %></td>
    <td><%= currency.fSellPri %></td>
    <td><%= currency.mSellPri %></td>
  </tr>
<% end %>
</table>
